:root {
    --text: rgb(0, 0, 0);
    --background: rgb(237, 238, 248);
    --primary: rgb(176, 171, 69);
    --secondary: rgb(211, 212, 238);
    --accent: rgb(176, 171, 69);
}

html[data-theme="light"] {
    --text: rgb(0, 0, 0);
    --background: rgb(237, 238, 248);
    --primary: rgb(176, 171, 69);
    --secondary: rgb(211, 212, 238);
    --accent: rgb(176, 171, 69);
}

html[data-theme="dark"] {
    --text: rgb(255, 255, 255);
    --background: rgb(7, 8, 18);
    --primary: rgb(186, 181, 79);
    --secondary: rgb(17, 18, 44);
    --accent: rgb(186, 181, 79);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--background);
    transition: background-color 0.5s ease;
}

h1 {
    padding-top: 1em;
}

h2 {
    padding-top: .5em;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}



.topnav {
    overflow: hidden;
    background-color: var(--background);
    padding-right: 1em;
    transition: background-color 0.5s ease;
    position: fixed;
    top: 0;
    width: 100%
}

.topnav a {
    float: left;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.topnav ul {
    list-style-type: none;
}

.topnav li a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li ul {
    display: none;
}

.topnav li:hover ul {
    display: block;
    position: inherit;
}

.topnav li:hover ul li a {
    display: block;
    background: var(--secondary);
    color: var(--text);
    width: 110px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
}

.topnav li:hover ul li a:hover {
    background: #6dc7ec;
    color: var(--text);
}

.topnav h1 {
    float: left;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color: var(--secondary);
    color: var(--text);
}

.topnav a.active {
    background-color: var(--accent);
    color: var(--text);
}

.row {
    display: flex;
}
.column {
    flex: 50%;
}

footer {
    padding: 1em;
    color: var(--text);
    background-color: var(--background);
    text-align: center;
    transition: background-color 0.5s ease;
}

@media screen and (max-width: 600px) { /*! NOT WORKING */
    .column {
        width: 100%;
    }
}

html {
    scroll-behavior: smooth;
}

.headerIMG {
    padding: .5em;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.responsiveIMG{
    padding: .25em;
    width: 50%;
    max-width: 600px;
    height: auto;
    float: left;
}

.responsiveTXT{
    padding: .25em;
    width: 50%;
    max-width: 600px;
    height: auto;
    float: right;
}

.dataTable {
    border: 1px solid var(--text);
    border-collapse: collapse;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dataTable th {
    text-align: center;
    border: 1px solid var(--text);
    padding: 10px;
}

.dataTable td {
    text-align: center;
    border: 1px solid var(--text);
    padding: 10px;
    color: var(--text);
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 22px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .data {
    padding: 1em;
    color: var(--text);
    background-color: var(--background);
    transition: background-color 0.5s ease;
  }